.aboutCard{
    padding: 1em;
    height: 19em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: green;
    margin: 4px;
}

.aboutCard h5{
    font-weight: 800;
    margin-bottom: 2em;
    text-align: center;
}


.aboutCard p{
    text-align: center;
}

.cardContent{
    padding: 0em 1em;
}

.buttonsLG{
    justify-content: flex-end;
    display: flex;
}

.buttonsMD{
    margin-top: 1em;
    display: none;
    justify-content: center;
}



@media screen and (max-width: 960px) {
    .cardDescription{
        display: none;
    }
    .cardContent{
        padding: 0em;
    }
    .buttonsLG{
        display: none;
    }
    .buttonsMD{
        display: flex;
    }
}

