.aboutCard{
    padding: 1em;
    height: 19em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: green;
}

.aboutCard h5{
    font-weight: 800;
    margin-bottom: 2em;
    text-align: center;
}

.aboutCard p{
    text-align: center;
}

/* @media screen and (max-width: 600px) {
    .aboutCard{
        max-width: 172px;
    }
  } */